apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-app
  namespace: jaga-bumi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      initContainers:
        - name: fix-permissions
          image: busybox
          command:
            ["sh", "-c", "chown -R 33:33 /var/www/html/storage/app/public"]
          volumeMounts:
            - name: laravel-storage
              mountPath: /var/www/html/storage/app/public

      containers:
        - name: laravel
          image: fierynxx/jaga-bumi:12bc2e3
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: laravel-secret

          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          volumeMounts:
            - name: laravel-storage
              mountPath: /var/www/html/storage/app/public

      volumes:
        - name: laravel-storage
          persistentVolumeClaim:
            claimName: laravel-storage-pvc
